[Desktop Entry]
Categories=System
Comment="released_on_2022"
Encoding=UTF-8
Exec=sh /usr/local/littlesun/LittleSunInputMethod.sh -desktop
Icon=/usr/share/icons/LittleSunInputMethod.ico
Name=小太阳输入法
Terminal=falseL
Type=Application
X-Deepin-Vendor=user-custom
